In [2]:
import pandas as pd

In [7]:
# 데이터 불러오기
# [['CustomerID']]도 가능
custom_df=pd.read_csv('data/고객ID.csv',encoding='cp949',index_col=0)
# drop('Unnamed : 0')도 가능
order_df=pd.read_csv('data/고객주문.csv',encoding='cp949',index_col=0)

C:\Users\JungHun.DESKTOP-JRGUSS9\AppData\Local\Temp\ipykernel_8972\3663577101.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  order_df=pd.read_csv('data/고객주문.csv',encoding='cp949',index_col=0)

In [8]:
custom_df.head()

  CustomerID
0    C-12346
1    C-12347
2    C-12348
3    C-12349
4    C-12350

In [9]:
order_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,C-17850
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,C-17850
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,C-17850
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,C-17850
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,C-17850

In [11]:
# 구매 금액을 요약하기 위해 수량 * 단가의 가공필드
order_df['order_ammount']=order_df['Quantity']*order_df['UnitPrice']

In [12]:
order_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,order_ammount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,C-17850,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,C-17850,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,C-17850,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,C-17850,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,C-17850,20.34

In [13]:
order_quantity=order_df.groupby('CustomerID')['Quantity'].sum()
order_quantity

CustomerID
C-12346    74215
C-12347     2458
C-12348     2745
C-12349      631
C-12350      197
           ...
C-18280     1815
C-18281       54
C-18282      103
C-18283     1397
C-18287     1586
Name: Quantity, Length: 4344, dtype: int64

In [15]:
order_amt=order_df.groupby('CustomerID')['order_ammount'].sum()
order_amt

CustomerID
C-12346    77183.60
C-12347     4310.00
C-12348     3366.27
C-12349     1757.55
C-12350      334.40
             ...
C-18280     8330.57
C-18281       80.82
C-18282      178.05
C-18283     2094.88
C-18287     1837.28
Name: order_ammount, Length: 4344, dtype: float64

In [18]:
# 왼쪽은 CostomerID 키,오른쪽은 index 키로 결합
df=pd.merge(custom_df,order_quantity,left_on=['CustomerID'],right_index=True)
df.head()

  CustomerID  Quantity
0    C-12346     74215
1    C-12347      2458
2    C-12348      2745
3    C-12349       631
4    C-12350       197

In [19]:
df_fin=pd.merge(custom_df,order_amt,left_on=['CustomerID'],right_index=True)
df_fin.head()

  CustomerID  order_ammount
0    C-12346       77183.60
1    C-12347        4310.00
2    C-12348        3366.27
3    C-12349        1757.55
4    C-12350         334.40