# 작업형 예상문제 풀이

## 01. Cars93 데이터셋의 Wheelbase컬럼에 대해서 평균 값에서 표준편차의 1.5/2/2.5배를 더하거나 뺀 값들의 구간별 평균을 구한 후, 원래 데이터의 평균에서 뺀 값들의 차이의 합을 출력(소수점 다섯째 자리에서 반올림)

In [1]:
import pandas as pd

In [2]:
cars93=pd.read_csv('data/연습문제/Cars93.csv')

In [4]:
Wb=cars93['Wheelbase']

In [7]:
Wb_avg=Wb.mean()

In [8]:
Wb_std=Wb.std()

In [18]:
avg=[]
x=[1.5,2,2.5]
for i in x:
    low=Wb_avg-i*Wb_std
    upp=Wb_avg+i*Wb_std
    range=Wb[(Wb>low)&(Wb<upp)]
    avg.append(Wb_avg-range.mean())

In [19]:
Wb_avg

103.98924731182795

In [20]:
avg

[0.29512966476913505, 0.17813620071683545, 0.011225333805981563]

In [21]:
round(sum(avg),4)

0.4845

## 02. Cars93 데이터셋의 length컬럼에 대해서 순위를 부여한 후, 1위부터 30위까지 값들의 표준편차를 구하고 소수점 셋째자리까지 반올림하여 나타내라(단, 동점은 동일한 순위를 부여하되 평균내어 등수를 산정하며 최솟값을 1위로 함)

In [24]:
length=cars93['Length']
length

0     177
1     195
2     180
3     193
4     186
     ...
88    187
89    180
90    159
91    190
92    184
Name: Length, Length: 93, dtype: int64

In [30]:
round(length[length.rank(method='average')<30].std(),3)

8.884

## 03. Cars93 데이터셋의 Max_Price컬럼과 Min_Price컬럼에 대해서 각각 정렬한 후 정렬된 순서에 따라 레코드별로 Max_Price와 Min_Price의 차이를 산출하고 차이 값에 대해 표준편차를 구하여라(단, Max_Price의 정렬은 내림차순,Min_Price의 정렬은 오름차순으로 하며, 출력시 표준편차는 소수점 넷째 자리에서 반올림하여 표현할 것)

In [41]:
max=cars93['Max_Price'].sort_values(ascending=False,ignore_index=True)
min=cars93['Min_Price'].sort_values(ascending=True,ignore_index=True)

In [44]:
max

0     80.0
1     50.4
2     44.6
3     42.7
4     41.5
      ...
88     9.5
89     9.5
90     9.2
91     9.1
92     7.9
Name: Max_Price, Length: 93, dtype: float64

In [45]:
min

0      6.7
1      6.8
2      6.9
3      7.3
4      7.3
      ...
88    34.6
89    34.7
90    37.5
91    43.8
92    45.4
Name: Min_Price, Length: 93, dtype: float64

In [46]:
std=(max-min).std()

In [48]:
print(round(std,3))

18.584

## 04. Cars93 데이터셋의 Weight컬럼을 Min-Max 정규화로 변환한 후, 0.5보다 작은 값들의 분산과 0.5보다 큰 값들의 분산의 차이를 구하여라(단, 차이는 큰 값에서 작은 값을 빼서 구하며, 소수점 넷째자리에서 반올림하여 표현할 것)

In [55]:
weight=cars93[['Weight']]

In [56]:
weight

    Weight
0     2705
1     3560
2     3375
3     3405
4     3640
..     ...
88    3960
89    2985
90    2810
91    2985
92    3245

[93 rows x 1 columns]

In [51]:
from sklearn.preprocessing import MinMaxScaler

In [58]:
m_mscaler=MinMaxScaler()
Weight_scaler=m_mscaler.fit_transform(weight)
Weight_scaler

array([[0.3752119 ],
       [0.53625918],
       [0.5014127 ],
       [0.50706348],
       [0.55132793],
       [0.4081748 ],
       [0.51930684],
       [0.63891505],
       [0.52401582],
       [0.54756075],
       [0.60689395],
       [0.33471464],
       [0.39028066],
       [0.47598418],
       [0.46750801],
       [0.56545489],
       [0.6238463 ],
       [0.60218497],
       [0.50235449],
       [0.52778301],
       [0.44678847],
       [0.53814278],
       [0.29327557],
       [0.36861933],
       [0.42512714],
       [0.56357129],
       [0.44584668],
       [0.58240723],
       [0.29798455],
       [0.52307403],
       [0.21322283],
       [0.34224901],
       [0.37238651],
       [0.40252402],
       [0.3761537 ],
       [0.56922208],
       [0.49199473],
       [0.60971934],
       [0.18496892],
       [0.33188924],
       [0.40534941],
       [0.30834432],
       [0.4383123 ],
       [0.30740252],
       [0.35920136],
       [0.29610096],
       [0.40911659],
       [0.61913731],
       [0.52684121],
       [0.52778301],
       [0.5616877 ],
       [0.62949708],
       [0.30363534],
       [1.        ],
       [0.42512714],
       [0.56922208],
       [0.41100019],
       [0.41570917],
       [0.5296666 ],
       [0.32718026],
       [0.54567715],
       [0.29798455],
       [0.56828028],
       [0.3450744 ],
       [0.44019589],
       [0.63797325],
       [0.4684498 ],
       [0.41382558],
       [0.41005839],
       [0.56545489],
       [0.51930684],
       [0.36296854],
       [0.30834432],
       [0.35072518],
       [0.47598418],
       [0.51553965],
       [0.        ],
       [0.38839706],
       [0.33565643],
       [0.25089471],
       [0.33471464],
       [0.44678847],
       [0.23582596],
       [0.2527783 ],
       [0.42135995],
       [0.43642871],
       [0.57864005],
       [0.28762479],
       [0.61160294],
       [0.42795253],
       [0.39498964],
       [0.42795253],
       [0.47692597]])

In [65]:
upper=Weight_scaler[Weight_scaler>0.5]
lower=Weight_scaler[Weight_scaler<0.5]

In [72]:
up_var=upper.var()
low_var=lower.var()

In [74]:
round(abs(up_var-low_var),3)

0.001

## 05. Cars93 데이터셋을 이용하여 Manufacturer, Origin 컬럼의 유일값 조합의 수와 Manufacturer컬럼의 앞 두글자만 추출한 결과와 Origin컬럼과의 유일값 조합 수의 차이를 구하여라(단, 원래 유일값 조합수에서 추출 이후 수를 뺄 것)

### 방법1

In [117]:
df1=cars93[['Manufacturer','Origin']]

In [118]:
df1

   Manufacturer   Origin
0         Acura  non-USA
1         Acura  non-USA
2          Audi  non-USA
3          Audi  non-USA
4           BMW  non-USA
..          ...      ...
88   Volkswagen  non-USA
89   Volkswagen  non-USA
90   Volkswagen  non-USA
91        Volvo  non-USA
92        Volvo  non-USA

[93 rows x 2 columns]

In [121]:
df1_dup1=df1.drop_duplicates()

In [123]:
len(df1_dup1)

32

In [91]:
str_2=[i[:2] for i in cars93['Manufacturer']]

In [119]:
df1['str_2']=str_2

C:\Users\JungHun.DESKTOP-JRGUSS9\AppData\Local\Temp\ipykernel_13788\3970711329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['str_2']=str_2

In [124]:
df1

   Manufacturer   Origin str_2
0         Acura  non-USA    Ac
1         Acura  non-USA    Ac
2          Audi  non-USA    Au
3          Audi  non-USA    Au
4           BMW  non-USA    BM
..          ...      ...   ...
88   Volkswagen  non-USA    Vo
89   Volkswagen  non-USA    Vo
90   Volkswagen  non-USA    Vo
91        Volvo  non-USA    Vo
92        Volvo  non-USA    Vo

[93 rows x 3 columns]

In [128]:
df1_dup2=df1[['str_2','Origin']].drop_duplicates()

In [130]:
len(df1_dup2)

28

In [131]:
len(df1_dup1)-len(df1_dup2)

4

### 방법2

In [89]:
# Manufacturer의 유일값 조합의 수
unique_M=len(set(cars93['Manufacturer']))
unique_M

32

In [90]:
# Origin의 유일값 조합의 수
unique_O=len(set(cars93['Origin']))
unique_O

2

In [109]:
unique_str=len(set(str_2))

In [113]:
unique_M-unique_str-unique_O

4

## 06. Cars93 데이터셋을 이용하여 컬럼 Type,Man_trans_avail에 대한 그룹별 RPM 레코드 수와 RPM 합계, 중앙값을 모두 구한 후, 그룹별 중앙값에서 그룹별 합계에서 레코드 수를 나눈 값들을 빼서 나온 결과의 총 원소의 합을 구하여라(단, 출력시 소수점은 첫째 자리에서 반올림하여 표현할 것)

In [143]:
pivot=pd.pivot_table(cars93,index=['Type','Man_trans_avail'],values=['RPM'],aggfunc=['count','sum','median'])

In [156]:
round((pivot['median']-(pivot['sum']/pivot['count'])).sum(),0)[0]

442.0

## 07. Cars93 데이터셋을 이용하여 RPM 컬럼의 결측치를 평균으로 대체하고 RPM와 Wheelbase컬럼을 각각 z-점수 표준화한 후 표준화된 Wheelbase에 상수 -36을 곱한 값과 표준화된 RPM컬럼의 차이값을 구하고 표준편차를 산출하여라.(단, 소수점 셋째 자리까지 반올림하여 표현할 것)

In [186]:
cars93.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  9
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    4
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [187]:
cars93['RPM'].fillna(cars93['RPM'].mean(),inplace=True)

In [188]:
cars93.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  9
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    0
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [189]:
from sklearn.preprocessing import StandardScaler

In [195]:
st1=StandardScaler()
RPM_st=st1.fit_transform(cars93[['RPM']])

In [202]:
st2=StandardScaler()
Wb_st=st2.fit_transform(cars93[['Wheelbase']])

In [231]:
diff=Wb_st*-36-RPM_st

In [233]:
round(diff.std(),3)

35.561

## 08. Cars93 데이터셋을 이용하여 먼저, Price 컬럼의 결측치를 평균으로 대체하고, Max_Price 변수와 Min_Price의 평균보다 작은 레코드만 추출해 산출된 Origin 그룹별 Price의 합계를 구하고 다음으로 Price 컬럼의 결측치를 중앙값으로 대체하고 Price 컬럼이 Min_Price컬럼의 제 3사분위수보다 작은 레코드만을 추출해 산출된 Origin별 Price의 합계를 Origin 그룹별로 합한 후 큰 값을 출력하여라(단, 소수점 이하는 모두 절삭하여 정수로 표현할 것)

### 08_1

In [11]:
cars08=cars93.copy()

In [20]:
cars08.head()

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.900000,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.900000,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.100000,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,19.047619,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,19.047619,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i

In [13]:
cars08['Price'].fillna(cars08['Price'].mean(),inplace=True)

In [14]:
cars08['Price']

0     15.900000
1     33.900000
2     29.100000
3     19.047619
4     19.047619
        ...
88    19.700000
89    20.000000
90    23.300000
91    22.700000
92    26.700000
Name: Price, Length: 93, dtype: float64

In [15]:
cars08.isnull().sum()

Manufacturer           0
Model                  0
Type                   0
Min_Price              0
Price                  0
Max_Price              0
MPG_city               0
MPG_highway            0
AirBags                0
DriveTrain             0
Cylinders              0
EngineSize             0
Horsepower             0
RPM                    4
Rev_per_mile           0
Man_trans_avail        0
Fuel_tank_capacity     0
Passengers             0
Length                 0
Wheelbase              0
Width                  0
Turn_circle           13
Rear_seat_room         2
Luggage_room          11
Weight                 0
Origin                 0
Unnamed: 26            0
Make                   0
dtype: int64

In [16]:
avg_mm=cars08[['Max_Price','Min_Price']].mean(axis=1)

In [17]:
avg_mm

0     15.85
1     33.95
2     29.10
3     37.70
4     29.95
      ...
88    19.65
89    20.00
90    23.30
91    22.65
92    26.65
Length: 93, dtype: float64

In [21]:
df2=cars08[cars08['Price']<avg_mm]

### 답

In [45]:
df2_sum=df2.groupby('Origin')['Price'].sum()
df2_sum

Origin
USA        277.138095
non-USA    262.595238
Name: Price, dtype: float64

### 08_2

In [25]:
cars08_2=cars93.copy()

In [26]:
cars08_2['Price'].fillna(cars08_2['Price'].median(),inplace=True)

In [27]:
cars08_2

,Manufacturer,Model,Type,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Unnamed: 26,Make
0,Acura,Integra,Small,12.9,15.90,18.8,25,31,None,Front,...,177,102,68,37.0,26.5,11.0,2705,non-USA,0,Acura Integra
1,Acura,Legend,Midsize,29.2,33.90,38.7,18,25,Driver & Passenger,Front,...,195,115,71,38.0,30.0,15.0,3560,non-USA,1,Acura Legend
2,Audi,90,Compact,25.9,29.10,32.3,20,26,Driver only,Front,...,180,102,67,37.0,28.0,14.0,3375,non-USA,2,Audi 90
3,Audi,100,Midsize,30.8,16.55,44.6,19,26,Driver & Passenger,Front,...,193,106,70,NaN,31.0,17.0,3405,non-USA,3,Audi 100
4,BMW,535i,Midsize,23.7,16.55,36.2,22,30,Driver only,Rear,...,186,109,69,NaN,27.0,13.0,3640,non-USA,4,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.6,19.70,22.7,17,21,None,Front,...,187,115,72,38.0,34.0,NaN,3960,non-USA,88,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.00,22.4,21,30,None,Front,...,180,103,67,NaN,31.5,14.0,2985,non-USA,89,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.30,23.7,18,25,None,Front,...,159,97,66,36.0,26.0,15.0,2810,non-USA,90,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.70,23.5,21,28,Driver only,Rear,...,190,104,67,37.0,29.5,14.0,2985,non-USA,91,Volvo 240
92,Volvo,850,Midsize,24.8,26.70,28.5,20,28,Driver & Passenger,Front,...,184,105,69,38.0,30.0,15.0,3245,non-USA,92,Volvo 850

In [35]:
q3_m=cars08_2['Min_Price'].quantile(0.75)

In [39]:
df3=cars08_2[cars08_2['Price']<q3_m]

### 답

In [44]:
df3_sum=df3.groupby('Origin')['Price'].sum()
df3_sum

Origin
USA        579.70
non-USA    424.35
Name: Price, dtype: float64

### 08_3

In [53]:
df2_sum,df3_sum

(Origin
 USA        277.138095
 non-USA    262.595238
 Name: Price, dtype: float64,
 Origin
 USA        579.70
 non-USA    424.35
 Name: Price, dtype: float64)

In [55]:
print(int(max(df2_sum+df3_sum)))

856

## 09. Cars93 데이터셋에서 'Price' 컬럼은 'Min_Price'와 'Max_price'의 평균으로 알려져있다. 이와 같은 사실을 통해 'Price' 컬럼의 결측치의 원래 값을 계산한 후, 'Price'가 14.7보다 작거나 25.3보다 크면서 'Large' 타입인 레코드 수를 계산하여라

In [56]:
cars09=cars93.copy()

In [57]:
cars09['Price'].fillna(cars09[['Min_Price','Max_Price']].mean(axis=1),inplace=True)

In [60]:
df4=cars09[(cars09['Price']<14.7)|(cars09['Price']>25.3)&(cars09['Type']=='Large')]

In [61]:
len(df4)

35

## 10. Cars93 데이터셋에서 'Make' 컬럼을 이용하여 제조사가 'Chevrolet','Pontiac','Hyundai'이면서 'Airbags'이 'Driver'에만 있는 경우의 레코드 수를 계산하여라.

In [62]:
cars10=cars93.copy()

In [69]:
make=cars10['Make'].str.strip()

In [90]:
make2=make.str.startswith(('Chevrolet','Pontiac','Hyundai'))

In [112]:
make2

0     False
1     False
2     False
3     False
4     False
      ...
88    False
89    False
90    False
91    False
92    False
Name: Make, Length: 93, dtype: bool

In [84]:
air=cars10['AirBags']=='Driver only'

In [113]:
air

0     False
1     False
2      True
3     False
4      True
      ...
88    False
89    False
90    False
91     True
92    False
Name: AirBags, Length: 93, dtype: bool

In [119]:
print(sum(make2&air))

3